form.loginForm {
    background-color: $color-1;
    width: 90%;
    padding: 20px;
    margin: 0 auto;

    .message {
        font-size: .8em;
        text-align: center;
        background-color: rgb(231, 190, 190);
        padding: 10px;
        border: 1px solid rgb(240, 140, 140);
        color: rgb(240, 8, 8);
        display: none;
        transition: display .3s;
    }

    h1 {
        text-align: center;
        font-size: 1.5em;
        margin: 0 -20px;
    }

    input {
        width: 100%;
        padding: 5px;
        outline: none;
    }

    input[type=submit] {
        margin: 0 auto;
        margin-bottom: 20px;
        
    }

    p {
        text-align: center;
        font-size: .8em;
        margin-bottom: 20px;
    }

    .form-group{
        margin-bottom: 15px;
    }

    .checkbox-group {
        margin: -15px 0 20px 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        font-size: .8em;
        input {
            width: auto;
            margin: 4px 5px 0 0;
        }
    }

    .inputMessage {
        color: red;
        text-align: left;
    }

}

@media only screen and (min-width: 600px) {
    form.loginForm {
        width: 600px;
    }
}