@import './settings';
@import './components/header';
@import './components/navbar';
@import './components/card';

main {
    background-color: rgb(238, 234, 234);
}
.moviesContainer {
    @media only screen and (min-width: 500px) {
        width: 80%;
        margin: 0 auto;
    } 

    @media only screen and (min-width: 900px) {
        width: 70%;
    } 


    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    
        li {
            width: 98%;
            margin: 0;
            @media only screen and (min-width: 600px) {
                width: 48%;
                margin: 0;
            } 
        }
    }

    

}